@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');


$color-primary: rgb(9,184,182);
$color-white:rgb(249,249,249);
$color-red: rgba(230, 31, 31, 0.829);
$color-green: rgb(16, 255, 16);
$color-dark: #2F3543;


$font-primary :'Titillium Web', sans-serif;