@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');


$color-primary: #A1C084;
$color-white:rgb(249,249,249);
$color-red: #E05263;
$color-green: #69A2B0;
$color-dark: #69A2B0;


$font-primary :'Titillium Web', sans-serif;