.count-container {
    margin-top: 2rem;
    width: 40%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
    border: solid black 2px;

    &__header {
        margin-left: -4rem;
    }

    &__display {
        margin: 1rem 0 1rem 0;
        display: flex;
        justify-content: space-evenly;
        width: 90%;
    }
    
    &__buttons-container {
        width: 80%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

}



.button-container {
    width: 15rem;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}
