@use "../../sass/variables" as *;

.count-container {
    margin-top: 0.7rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    &__header {
        margin-left: -4rem;
    }

    &__display {
        margin: 1rem 0 1rem 0;
        display: flex;
        justify-content: space-evenly;
        width: 90%;
    }
}

.button-container {
    width: 15rem;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}
