@use "../../sass/variables" as *;
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 30px;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    border: 1px black solid;

    &--positive {
        
        background-color: $color-green;
    }

    &--negative {
        background-color: $color-red;
    }
}

.newMemButton {
    width: 5rem;
    border-radius: 10px;

    &--big {
        width: 5rem;
        height: 5rem;
        border-radius: 40px;
    }
}