.button {
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 40px;
    font-size: 2rem;

    &--positive {
        background-color: green;
    }

    &--negative {
        background-color: red;
    }
}

.newMemButton {
    width: 5rem;
    border-radius: 10px;

    &--big {
        width: 5rem;
        height: 5rem;
        border-radius: 40px;
    }
}